* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    width: 100%;
}


.image img {
    width: calc(33.33% - 10px);
    padding: 10px;
}



/* Media query */

@media screen and (max-width:800px) {
    .image img {
        width: calc(50% - 10px);
        padding: 10px;
    }
}


@media screen and (max-width:500px) {
    .image img {
        width: calc(100% - 10px);
        padding: 10px;
    }
}